@font-face {
  font-family: hii;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  color: rgb(244, 244, 244);
  font-family: hii;
  font-size: clamp(14px, 1vw, 18px);
}

section {
  max-width: 2000px;
}

body {
  background-color: #0f0f0f;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view1 .bottom button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main section.view2 .top, main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .top .elements, main section.view2 .bottom .elements {
  text-align: center;
  gap: 0.2rem;
}
main section.view2 .top .elements small, main section.view2 .bottom .elements small {
  opacity: 0.6;
  font-size: 1rem;
}
main section.view2 .top .elements h2, main section.view2 .bottom .elements h2 {
  font-size: 3.5rem;
  font-weight: 300;
}
main section.heading {
  width: 100%;
  padding: 1rem;
  padding-left: 2.5rem;
}
main section.heading h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 0.7rem;
  padding-top: 0.4rem;
}
main section.view4 .bottom {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
}
main section.view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view4 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view4 .bottom .text p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}
main section.view5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.view5 .card {
  width: 100%;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.view5 .card .icon, main section.view5 .card .bottom {
  background-color: rgba(56, 56, 56, 0.395);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view5 .card .top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.7rem;
  margin-right: 1.7rem;
}
main section.view5 .card .icon {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
main section.view5 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  margin: 1rem;
}
main section.view5 .card .bottom p {
  text-transform: uppercase;
  font-size: 1rem;
}
main section.view5 .card2 {
  width: 100%;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.view5 .card2 .icon, main section.view5 .card2 .bottom {
  background-color: rgba(56, 56, 56, 0.395);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view5 .card2 .top {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.7rem;
  margin-right: 1.7rem;
}
main section.view5 .card2 .icon {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
main section.view5 .card2 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  margin: 1rem;
}
main section.view5 .card2 .bottom p {
  text-transform: uppercase;
  font-size: 1rem;
}
main section.view5 .card3 {
  width: 100%;
  background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.view5 .card3 .icon, main section.view5 .card3 .bottom {
  background-color: rgba(56, 56, 56, 0.395);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view5 .card3 .top {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  margin-top: 1.7rem;
  margin-right: 1.7rem;
}
main section.view5 .card3 .icon {
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
}
main section.view5 .card3 .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  margin: 1rem;
}
main section.view5 .card3 .bottom p {
  text-transform: uppercase;
  font-size: 1rem;
}
main section.view6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main section.view6 .top {
  width: 100%;
}
main section.view6 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view6 .bottom {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 0.8rem;
}
main section.view6 .bottom h2 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view6 .bottom p:nth-child(1) {
  font-weight: 100;
  font-size: 1rem;
  opacity: 0.6;
}
main section.view6 .bottom .text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
  gap: 1rem;
}
main section.view6 .bottom .text .icons {
  font-size: 1.5rem;
  background-color: rgba(56, 56, 56, 0.395);
  border-radius: 50%;
  border: 0.1px solid rgba(164, 164, 164, 0.584);
  padding: 0.5rem;
}
main section.view7 {
  display: flex;
  flex-direction: column;
  width: 93%;
  padding: 1.8rem;
  background-color: #cebd63;
  color: black;
  margin: 1rem;
  gap: 1.5rem;
  border-radius: 0.7rem;
}
main section.view7 .top {
  width: 100%;
}
main section.view7 .top p {
  font-size: 1.5rem;
  font-weight: 100;
}
main section.view7 .top h1 {
  font-size: 2.9rem;
  font-weight: 200;
}
main section.view7 button {
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: black;
  color: white;
  font-size: 1rem;
}
main footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
main footer .aside {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
}
main footer .aside .top p {
  font-size: 1.5rem;
  font-weight: 100;
}
main footer .aside .bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main footer .aside .bottom .icon {
  background-color: rgba(56, 56, 56, 0.395);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  padding: 1rem;
}
main footer .upper {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
}
main footer .upper .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main footer .upper .links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.438);
}
main footer .upper .links p {
  font-size: 1.8rem;
}
main footer .upper .links button {
  background-color: #cebd63;
  padding: 1rem;
  width: 50%;
  border-radius: 0.7rem;
  font-size: 1rem;
}
main footer .lower {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.7rem;
  gap: 3rem;
  text-align: center;
}
main footer .lower p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.438);
}
main footer .lower p a {
  color: rgb(214, 211, 211);
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view1 .bottom .text p {
    font-size: 1rem;
  }
  main section.view2 {
    flex-direction: row;
    padding: 3rem 4rem;
  }
  main section.heading {
    padding: 3rem 6.5rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 4rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .paragraphs h1 {
    font-size: 3.5rem;
  }
  main section.view3 .bottom .paragraphs p {
    font-size: 1rem;
  }
  main section.view4 {
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  main section.view4 .top, main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view4 .bottom .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view4 .bottom .paragraphs h1 {
    font-size: 3.5rem;
  }
  main section.view4 .bottom .paragraphs p {
    font-size: 1rem;
  }
  main section.view5 {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    gap: 1rem;
  }
  main section.view6 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view6 .top, main section.view6 .bottom {
    width: 50%;
  }
  main section.view6 .bottom {
    padding: 4rem;
    justify-content: space-between;
  }
  main section.view6 .bottom h1 {
    font-size: 3rem;
  }
  main section.view6 .bottom p {
    font-size: 1rem;
  }
  main section.view7 {
    margin: 1rem 4rem;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  main section.view7 .top h1 {
    font-size: 3.5rem;
    width: 60%;
  }
  main section.view7 .top p {
    font-size: 1rem;
  }
  main section.view7 button {
    font-size: 1rem;
    padding: 1rem;
    width: 15%;
    border: none;
    outline: none;
    padding: 0.7rem 1rem;
    margin-top: 7.5rem;
  }
  main footer {
    display: grid;
    padding: 1rem 4rem;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.8fr 0.4fr;
    grid-template-areas: "aside upper" "aside lower";
  }
  main footer .aside {
    grid-area: aside;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main footer .upper {
    grid-area: upper;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main footer .upper .links button {
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  main footer .lower {
    grid-area: lower;
  }
}/*# sourceMappingURL=style.css.map */