@font-face {
    font-family: hii;
    src: url(./SFPRODISPLAYREGULAR.OTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hii;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}


#nav{
    height: 50px;
    width: 100%;
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 35px;
    border: none;
}
#nav h4{
    color: white;
    font-weight: 100;
    font-size: 13px;
}

#center{
    width: 100%;
    height:85%;
    
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 45px;
}
#center h1{
    color: white;
    font-size: 50px;
    font-weight: 500px;
}
#center h5{
    color: white;
    font-size: 25px;
    font-weight: 300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
#links button{
    background-color: royalblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 23px;
    padding-left: 23px;
    color: white;
    border-radius: 40px;
    font-size: 18px;
    border: none;
    font-weight: 300;
    
}
#links #trans{
    background: none;
    border: 2px solid royalblue;
    color: royalblue;
}

#air{
    width: 100%;
    height: 83%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    padding: 40px;
}
#air h1{
    color: black;
     font-size: 50px;
    font-weight: 500px;
}

#air h5{
    color: black;
     font-size: 25px;
    font-weight: 300;
}
#iphone{
    width: 100%;
    height: 83%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_large.jpg);
    background-position: center;
    background-size: cover;
     margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    padding: 40px;

}

#iphone h1{
     color: black;
     font-size: 50px;
    font-weight: 500px;
} 

#iphone h5{
    color: black;
     font-size: 25px;
    font-weight: 300;
}

