@font-face {
    font-family: hii;
    src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    color: rgb(244, 244, 244);
    font-family: hii;
    font-size: clamp(14px,1vw,18px);
}
section{
    max-width: 2000px;
}
body{
    background-color: #0f0f0f;
}
 main{
    width: 100%;
    display: flex;
    flex-direction: column;

    section.view1{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    
    .top{
        width: 100%;
         
    img{
        width: 100%;
        border-radius: 0.7rem;
    }
    }
    .bottom{ 
        background-color:#1b1b1b ;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 0.7rem;
        gap: 3rem;
        

        .text{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;
            }
            p{
                font-weight: 100;
                font-size: 1.5rem;
                opacity: 0.6;
                line-height: 1.5;
            }
            
            
            }
            button{
                width: fit-content;
                border: none;
                outline: none;
                padding: 0.7rem 1rem;
                border-radius: 0.5rem;
            
                
            }
        }
    }
    section.view2{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .elements{
                text-align: center;
                gap:0.2rem;

                small{
                    opacity: 0.6;
                    font-size: 1rem;
                }
                h2{
                    font-size: 3.5rem;
                    font-weight: 300;
                }
            }
        }
    }
    section.heading{
        width: 100%;
        padding: 1rem;
        padding-left: 2.5rem;

        h2{
                    font-size: 2.5rem;
                    font-weight: 300;
                }
    }
    section.view3{
        width: 100%;
         display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
             background-color:#1b1b1b ;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 0.7rem;
        gap: 3rem;
        

        .text{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;
            }
            p{
                font-weight: 100;
                font-size: 1.5rem;
                opacity: 0.6;
                line-height: 1.5;
            }
        }
    }
    }
    section.view4{
        width: 100%;
         display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        gap: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
                padding-top: 0.4rem;
            }
        }

        .bottom{
             background-color:#1b1b1b ;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        border-radius: 0.7rem;
        gap: 3rem;
        

        .text{
            display: flex;
            flex-direction: column;
            gap: 0.7rem;

            h1{
                font-weight: 200;
                font-size: 2.5rem;
                text-transform: uppercase;
            }
            p{
                font-weight: 100;
                font-size: 1.5rem;
                opacity: 0.6;
                line-height: 1.5;
            }
        }
    }
    }
    section.view5{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        padding: 1rem;
        
        
        .card{
            width: 100%;
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            .icon,.bottom{
                background-color: rgba(56, 56, 56, 0.395);
                backdrop-filter:blur(5px);
               
                border-radius: 0.7rem;
                padding: 0.5rem;
            }
            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                 margin-top:1.7rem ;
                margin-right: 1.7rem;
            }
            .icon{
                border-radius: 50%;
                width: fit-content;
                font-size: 1.2rem;
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.2rem 1rem;
                margin: 1rem;

                p{
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }
        .card2{
            width: 100%;
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icon,.bottom{
                background-color: rgba(56, 56, 56, 0.395);
                backdrop-filter:blur(5px);
               
                border-radius: 0.7rem;
                padding: 0.5rem;
            }
            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                 margin-top:1.7rem ;
                margin-right: 1.7rem;
            }
            .icon{
                border-radius: 50%;
                width: fit-content;
                font-size: 1.2rem;
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.2rem 1rem;
                margin: 1rem;

                p{
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }
        .card3{
            width: 100%;
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icon,.bottom{
                background-color: rgba(56, 56, 56, 0.395);
                backdrop-filter:blur(5px);
               
                border-radius: 0.7rem;
                padding: 0.5rem;
            }
            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                 margin-top:1.7rem ;
                margin-right: 1.7rem;
            }
            .icon{
                border-radius: 50%;
                width: fit-content;
                font-size: 1.2rem;
            }
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.2rem 1rem;
                margin: 1rem;

                p{
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }
    }

}
@media (min-width:900px){
     main{
        section.view1{
           flex-direction: row;
        
           padding: 1rem 4rem;
        
           .top,
           .bottom{
            width: 50%;
           }
          
           .bottom{
            
            justify-content: space-between;
            padding: 3rem;

            .text{
                gap: 1.5rem;

                h1{
                    font-size: 3.5rem;
                }
                p{
                    
                    font-size: 1rem;
                }
            }
           } 
        
       } 

       section.view2{
        flex-direction: row;
        padding: 3rem 4rem;
       }
       section.heading{
        padding: 3rem 6.5rem;
       }

       section.view3{
           flex-direction: row-reverse;
           padding:1rem 4rem;
           .top,.bottom{
            width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap: 2rem;

                    h1{
                    font-size: 3.5rem;
                }
                p{
                    
                    font-size: 1rem;
                }
                }
            }
       }
        section.view4{
           flex-direction: row;
        
           padding-left: 4rem;
           padding-right: 4rem;
           .top,.bottom{
            width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap: 2rem;

                    h1{
                    font-size: 3.5rem;
                }
                p{
                    
                    font-size: 1rem;
                }
                }
            }
       }
    
       section.view5{
        display: flex;
        flex-direction: row;
        padding: 1rem 4rem;
        gap: 1rem;
       }
    }
}