* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

#parent{
    height: 450px;
    width: 100%;
    background-color: #333;
    padding: 25px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;
}
#parent::-webkit-scrollbar{
    display: none;
}
.child{
    height: 100%;
    width: 300px;
    background-color: white;
    flex-shrink: 0;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
