*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #111;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
}
h1{
    font-size: 50px;
    background-color: rgb(45,30,35);
    padding: 25px 55px;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 200;
}
button{
    background-color:beige;
    padding: 20px 30px;
    font-size: 19px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
button:active{
    scale: 0.95;
}